@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: 'futurabold';
  src: url("fonts/futurebold.ttf");
}

.bod {
  position: relative;
}

.bod-phone {
  width: 450px;
  height: 875px;
  position: fixed;
  z-index: -1;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

@media (max-width: 500px), (max-height: 900px) {
  .bod-phone {
    display: none;
  }
}

.bod-content {
  width: 455px;
  height: 875px;
  max-height: 875px;
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  padding: 64px 36px 35px;
}

@media (max-width: 500px), (max-height: 900px) {
  .bod-content {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
  }
}

body,
html {
  overflow: hidden;
  background-color: red;
}

@media (max-width: 500px), (max-height: 900px) {
  body,
  html {
    background-color: #fff;
  }
}

.content {
  position: relative;
  background-color: #f6f6f6;
  padding: 0 2px;
  margin: 0 2px;
  width: calc(100%-4px);
  height: calc(100% - 1px);
  max-height: 100%;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 500px), (max-height: 900px) {
  .content {
    border-radius: 0;
    margin: 0;
  }
}

.content-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  margin: 2px 0;
  background-color: #fff;
  max-height: 80px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.content-chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-base {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  color: #fff;
  max-height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 5px;
  border-radius: 30px;
}

@media (max-width: 500px), (max-height: 900px) {
  .content-base {
    border-radius: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

.content-frame {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: contain;
  position: relative;
  z-index: 600;
}

.cnh-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.cnh-img {
  width: 40px;
  height: 50px;
  position: relative;
  z-index: 1;
}

@media (max-width: 500px), (max-height: 900px) {
  .cnh-img {
    margin-top: 5px;
  }
}

.cnh-img > img {
  height: 100%;
  width: 100%;
}

.cnh-name {
  font-family: 'futurabold';
  margin-top: 3px;
  color: #15795d;
  position: relative;
  z-index: 2;
  letter-spacing: 0.5px;
}

.cnb-con {
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ec111b;
  border-radius: 30px;
}

@media (max-width: 500px), (max-height: 900px) {
  .cnb-con {
    border-radius: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}

.cnb-item {
  height: 25px;
  padding: 10px 20px;
  border-radius: 50px;
}

.cnb-item:nth-child(3) {
  background-color: #f4c6c6;
}

.cnb-item > img {
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */